<h1>List of all Articles</h1>

  <p>
    <%= link_to 'Create New Article', new_article_path %>
  </p>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td>
        <%= article.title %>
      </td>
      <td>
        <%= truncate(article.text, length: 75) %>
      </td>
      <td> |
        <%= link_to 'Show', article_path(article) %>
      </td>
      <td> |
        <%= link_to 'Edit', edit_article_path(article) %>
      </td>
      <td> |
        <%= link_to 'Delete', article_path(article),  
        method: :Delete, 
        data: {confirm: 'Are you certain?'}
        %>
      </td>
    </tr>
  <% end %>
</table>
<p>
  <%= link_to 'Home', welcome_index_path %>
</p>
